.nav{
    position: sticky;
    top: 0;
    
}
.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #333;
    color: #fff;
    padding: 10px 30px;

}

.list{
    display: flex;
    list-style: none;
    gap: 10px 50px;
    padding: 5px;
    a{
        text-decoration: none;
        color: #fff;
    }
    
}
.logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
}
